
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    /* padding-top: 10%;
    /* padding-left: 10%;
    padding-right: 10%;  */
  
  
}
  
  .cell{
    width: 100px;
    height: 100px;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    text-decoration-color: white;
    color: white;
     /* -webkit-box-shadow:0px 0px 105px 45px rgba(45,255,196,0.9);
-moz-box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9);
box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9); */
  }
    body{
      background-color: black ;
      
      



}
     h1{
  color: rgb(6, 6, 71);
  text-shadow: 2px 2px 4px white;
  text-align: center;
  padding: 1px;
  font-size: 60px;
     }
     h3{
      color: blue;
  text-align: center;
  font-size: 35px;
      padding-top: 3%;
     }
     .container2 {
      justify-content: center;
      align-content: center;
      width: 50%;
      height: 50000000%;
      border-radius: 5px;
      padding-top: 50px;
      padding-bottom: 30px;
      -webkit-box-shadow:0px 0px 100px 4 px rgba(45,255,196,0.9);
-moz-box-shadow: 0px 0px 100px 4px rgba(45,255,196,0.9);
box-shadow: 0px 0px 100px 4px rgba(45,255,196,0.9);
  }
  button{
    border-radius: 40px;
    padding: 2%;
    width:20%;
    font-size: x-large;
    color: blue;
    background-color:greenyellow;
    border: none;
    outline: none; 
  }
 .cell:hover{
  cursor: pointer;
  background-color: rgb(6, 6, 71);
 }
   button:hover{
    background-color: yellow;
    color: red;
   }
    
  
  
