body{
    background-image: url('pngtree-halloween-wallpapers-and-backgrounds-for-laptop-or-desktop-image_2968567.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}