body{
    background-image: url('halloween-pumpkins-scary-spooky-castle-night-full-moon-bats-flying_532187-402.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
  
h1{
    color: greenyellow;
    text-align: center;
    justify-content: center;
    padding-top: 12%;
    font-size: 90px;
    text-decoration:solid black;
    text-shadow: 2px 2px 4px blue;   
}
.delayed-button1{
    padding: 10px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-size: x-large;
    border: 3px;
  }
  body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }